@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  outline: 1px solid cyan;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #fffef7;
}
